<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="StationInformationJsonDir" value="stationInformation.json"/>
		<add key="StationInformationAPIUrl" value="api/v1/inspector-device/station-information"/>
		<add key="InspectionProcedureJsonDir" value="inspectionProcedure.json"/>
		<add key="InspectionProcedureAPIUrl" value="api/v1/inspector-device/inspection-procedures"/>
		<add key="ApiBaseUrl" value="http://api.plexor.online:8000/api/v1/"/>
		<add key="AuthToken" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkZXZpY2VfbG9naW5fdG9rZW4iLCJkZXZpY2Vfa2V5IjoiTEFCLUxFT0tMQS1HQ1BXLUEwOjU5OjUwOjU4OjdCOjIyIiwiY3VzdG9tZXJfaWQiOiI5ODYzNjQ3YS01ZWIyLTQ1MTgtOWVlOS1kY2FkZDg4ZjZlOGUiLCJkZXZpY2VfaWQiOiJlZjIzNzhjNy04YzZhLTQ2MzctYjIyYy04MzIyZjM4ODQ5NjkiLCJleHAiOjE3MjEyOTEwOTJ9.ryLqLXtQwGaFFeTprkNuyYDVfd-DCYravIWYFdY7Its"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>